.kina-p2p {
	position: absolute;
	width: 100%; height: 100%;
	top: 0; left: 0;
	overflow: hidden;

	&__header {
		position: relative;
		z-index: 2;
	}

	&__main {
		position: absolute;
		top: 0; left: 0;
		width: 100%; height: 100%;
		z-index: 3;

		will-change: transform;
	}

	&__aside {
		transform: translate3D(100%, -100%, 0) scale(.8);
		width: 100%; height: 100%;
		opacity: 0;
		z-index: 5;

		will-change: transform, opacity;
	}

	&__footer {
		position: absolute;
		bottom: -100%; right: -60%;
		width: 60%; height: 100%;
		z-index: 1;
	}
}