<div class="kina-p2p">
	<header class="kina-p2p__header">
		<div class="kina-brand"></div>
	</header>

	<main #main class="kina-p2p__main">
		<intro-kina></intro-kina>
		<intro-ltd></intro-ltd>

		<video-ltd></video-ltd>
		<video-piping></video-piping>

		<numbers-savings></numbers-savings>
		<numbers-roi></numbers-roi>

		<pricing [savings]="savings"></pricing>

		<purchase-intent></purchase-intent>
	</main>

	<aside class="kina-p2p__aside">
		<notes></notes>
	</aside>

	<footer class="kina-p2p__footer">
		<div class="kina-watermark"></div>
	</footer>
</div>
