<div class="question form__field--row selection" [class.error]="field.invalid && (field.dirty || field.touched)">
	<div class="question form__field--col form-col-{{question.style}}">
		<label for="{{question.key}}_answer" class="question-selection__label form__field--label" [innerHTML]="question.label"></label>
		<div class="question__field form__field--input-container"
			[attr.data-prepend]="question.prepend ? question.prepend : null"
			[attr.data-append]="question.append ? question.append : null"
		>
			<select id="{{question.key}}_answer" name="{{question.key}}_answer" class="question__select form__field--input"
				[(ngModel)]="answer" (ngModelChange)="onAnswer(field)"
				required #field="ngModel"
			>
				<option value="">[Select One]</option>
				<option *ngFor="let answer of question.answers" value="{{answer.value}}">{{answer.answer}}</option>
			</select>
		</div>
		<div *ngIf="field.invalid && (field.dirty || field.touched)" class="form__field--error">
			<p *ngIf="field.errors.required">* Required</p>
		</div>
	</div>
</div>
