<div class="customer-info form__field--set" *ngIf="!isSubmitted">
	<div class="customer-info__row form__field--row">
		<div class="question form__field--col form-col-100 company text" [class.error]="company.invalid && (company.dirty || company.touched)">
			<label for="{{key}}_company" class="customer-info__label form__field--label">{{labels.company}}</label>
			<div class="question__field form__field--input-container">
				<input type="text" id="{{key}}_company" name="{{key}}_company" class="customer-info__text form__field--input" [(ngModel)]="prospect.CompanyName" required #company="ngModel" />
			</div>
			<div *ngIf="company.invalid && (company.dirty || company.touched)" class="form__field--error">
				<p *ngIf="company.errors.required">* Required</p>
			</div>
		</div>
	</div>

	<div class="question form__field--row">
		<div class="question form__field--col form-col-50 first-name text" [class.error]="firstName.invalid && (firstName.dirty || firstName.touched)">
			<label for="{{key}}_firstName" class="customer-info__label form__field--label">{{labels.firstName}}</label>
			<div class="question__field form__field--input-container">
				<input type="text" id="{{key}}_firstName" name="{{key}}_firstName" class="customer-info__text form__field--input" [(ngModel)]="prospect.FirstName" required #firstName="ngModel" />
			</div>
			<div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="form__field--error">
				<p *ngIf="firstName.errors.required">* Required</p>
			</div>
		</div>

		<div class="question form__field--col form-col-50 last-name text" [class.error]="lastName.invalid && (lastName.dirty || lastName.touched)">
			<label for="{{key}}_name" class="customer-info__label form__field--label">{{labels.lastName}}</label>
			<div class="question__field form__field--input-container">
				<input type="text" id="{{key}}_lastName" name="{{key}}_lastName" class="customer-info__text form__field--input" [(ngModel)]="prospect.LastName" required #lastName="ngModel" />
			</div>
			<div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="form__field--error">
				<p *ngIf="lastName.errors.required">* Required</p>
			</div>
		</div>
	</div>

	<div class="customer-info__row form__field--row">
		<div class="question form__field--col form-col-50  phone-number text" [class.error]="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)">
			<label for="{{key}}_phoneNumber" class="customer-info__label form__field--label">{{labels.phoneNumber}}</label>
			<div class="question__field form__field--input-container">
				<input type="text" id="{{key}}_phoneNumber" name="{{key}}_phoneNumber" class="customer-info__text form__field--input" [(ngModel)]="prospect.PhoneNumber" required #phoneNumber="ngModel" />
			</div>
			<div *ngIf="(phoneNumber.invalid || !isValidPhoneNumber(prospect.PhoneNumber)) && (phoneNumber.dirty || phoneNumber.touched)" class="form__field--error">
				<p *ngIf="phoneNumber.errors && phoneNumber.errors.required">* Required</p>
				<p *ngIf="!phoneNumber.errors && !isValidPhoneNumber(prospect.PhoneNumber)">* Invalid</p>
			</div>
		</div>

		<div class="question form__field--col form-col-50 email-address text" [class.error]="emailAddress.invalid && (emailAddress.dirty || emailAddress.touched)">
			<label for="{{key}}_emailAddress" class="customer-info__label form__field--label">{{labels.emailAddress}}</label>
			<div class="question__field form__field--input-container">
				<input type="text" id="{{key}}_emailAddress" name="{{key}}_emailAddress" class="customer-info__text form__field--input" [(ngModel)]="prospect.EmailAddress" required #emailAddress="ngModel" />
			</div>
			<div *ngIf="(emailAddress.invalid || !isValidEmailAddress(prospect.EmailAddress)) && (emailAddress.dirty || emailAddress.touched)" class="form__field--error">
				<p *ngIf="emailAddress.errors && emailAddress.errors.required">* Required</p>
				<p *ngIf="!emailAddress.errors && !isValidEmailAddress(prospect.EmailAddress)">* Invalid</p>
			</div>
		</div>
	</div>

	<div class="customer-info__row form__field--row button">
		<input type="button" class="customer-info__button form__field--button" value="{{buttonText}}" [disabled]="!isFormValid()" (click)="onSubmit()" />
	</div>
</div>
<div class="customer-info form__field--set" *ngIf="isSubmitted && successText">
	<p class="customer-info__success">{{successText}}</p>
</div>
