@import "shared";

.video-piping {
	&__content {
		@include aspect-ratio(16, 9);
		transform: translate3D(-50%, -50%, 0);
		position: absolute;
		top: 50%; left: 50%;
		width: 70%;
		border: 6px solid $kina-primary;
		box-shadow: 4px 4px 14px rgba(0,0,0,0.2);
	}

	&__youtube {
		width: 100%;
		height: 100%;
		display: block;
	}
}