<section class="video-piping main-section" data-grid="1,1">
	<div class="video-piping__content">
		<div class="content">
			<iframe class="video-piping__youtube" src="https://www.youtube.com/embed/lwZpC8Zyky0" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"></iframe>
		</div>
	</div>
</section>