<div class="kina-funnel__finished">
	<header class="kina-funnel__finished--header">
<!--
		<h1 class="kina-funnel__finished--title">Thank You!</h1>
		<h2 class="kina-funnel__finished--subtitle">You will receive your results shortly!</h2>
-->
		<h1 class="kina-funnel__finished--title">Muchas Gracias!</h1>
		<h2 class="kina-funnel__finished--subtitle">Vas a recibir tus resultados proximamente.</h2>

	</header>
</div>
