<section class="kina-purchase-intent main-section" data-grid="4,0">
	<div class="kina-purchase-intent__content">
		<header class="kina-purchase-intent__header">
			<h1 class="kina-purchase-intent__title">Let's get you started!</h1>
		</header>
		<div class="kina-purchase-intent__body">
			<div class="kina-purchase-intent__contract">
				<p>lorem ipsum dolor</p>
				<p>lorem ipsum dolor</p>
				<p>lorem ipsum dolor</p>
				<p>lorem ipsum dolor</p>
			</div>
			<div class="kina-purchase-intent__request-financing field checkbox">
				<input type="checkbox" class="kina-purchase-intent__request-financing--input field-checkbox" [(ngModel)]="requestFinancing" />
				<label class="kina-purchase-intent__request-financing--label field-label">I would like to get financing</label>
			</div>
			<div class="kina-purchase-intent__signature field signature">
				<label class="kina-purchase-intent__signature--label field-label">Signature</label>
				<textarea class="kina-purchase-intent__signature--input field-checkbox" [(ngModel)]="requestFinancing"></textarea>
			</div>
			<div class="kina-purchase-intent__request-financing field submit">
				<button class="kina-purchase-intent__request-financing--button field-submit">Accept</button>
			</div>
		</div>
	</div>
</section>