@import url('https://fonts.googleapis.com/css?family=Montserrat:300,700,800,900&display=swap');

body, html {
	width: 100%; height: 100%;
	margin: 0; padding: 0;
	background: $color-white;
	font-family: 'Montserrat', Helvetica, san-serif;
}

* {
	box-sizing: border-box;
}

input {
	padding: .5em;
	border-radius: 0.2em;
	border: 1px solid #CCC;
	font-family: 'Montserrat', Helvetica, sans-serif;				
}

.kina-brand {
	position: absolute;
	width: 140px; height: 160px;
	top: 3%; left: 3%;
	background: url('assets/images/kina.logo.svg') no-repeat;
}

.kina-watermark {
	position: absolute;
	width: 100%; height: 100%;
	top: 0; left: 0;
	transform: translate3d(-52%, -65%, 0);
	background: url('assets/images/kina.icon.svg') no-repeat;
	opacity: .15;
}

.main-section {
	position: absolute;
	width: 100%; height: 100%;
	top: 0; left: 0;
	background: linear-gradient(to bottom, hex-to-rgba($kina-secondary, .01), hex-to-rgba($kina-secondary, .3));
}
