@mixin aspect-ratio($width, $height, $set-position: 'true') {
	@if $set-position == 'true' {
		position: relative;
	}
	
	&:before {
		display: block;
		content: "";
		width: 100%;
		padding-top: ($height / $width) * 100%;
	}

	> .content {
		position: absolute;
		top: 0; left: 0;
		width: 100%; height: 100%;
	}
}


@function hex-to-rgba($color, $opacity: 0.3) {
	@return rgba($color, $opacity);
}