@import "shared";

.kina-pricing {
	&__content {
		width: 60%;
		margin: 0 auto;
		padding: 2% 0 5%;
	}

	&__body {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__item {
		box-shadow: 2px 2px 8px hex-to-rgba($kina-secondary, .3);
		border: 1px solid hex-to-rgba($kina-secondary, .4);
		background: hex-to-rgba($kina-secondary, .1);
		position: relative;
		margin: 0 0 1em;
		padding: 0;
		width: 49%;

		&--figure {
			@include aspect-ratio(16, 9);
			background: $kina-secondary;
			overflow: hidden;
			width: 100%;
			padding: 0;
			margin: 0;
		}

		&--image {
			position: absolute;
			display: block;
			top: 0; left: 0;
			width: 100%;
			padding: 0;
			margin: 0;
		}

		&--quantity {
			background: hex-to-rgba($color-grey, .7);
			padding: .5em 1em;
			position: absolute;
			width: 100%;
			bottom: 0;

			&-label {
				margin: 0 0 0 .5em;
				font-size: .9em;
			}

			&-input {
				text-align: center;
				width: 4em;
			}
		}
	}

	&__footer {
		float: right;
		transform: translateY(-1em);
		text-align: right;

		&--pricing {
			font-size: 3em;
			color: $kina-primary;
			margin: 0;
		}

		&--roi {
			color: hex-to-rgba($kina-secondary, .5);
			font-weight: 100;
			font-size: .8em;
			margin: 0;
		}
	}
}