<section class="kina-pricing main-section" data-grid="3,0">
	<div class="kina-pricing__content">
		<header class="kina-pricing__header">
			<h1 class="kina-pricing__title">Pricing</h1>
		</header>
		<div class="kina-pricing__body">
			<article class="kina-pricing__item" *ngFor="let item of items; let i = index">
				<figure class="kina-pricing__item--figure">
					<img class="kina-pricing__item--image" src="{{ item['image'] }}" />
				</figure>
				<div class="kina-pricing__item--quantity field text">
					<input type="number" class="kina-pricing__item--quantity-input field-input"
					 id="qty{{i}}" min="{{ item['min'] }}" max="{{ item['max'] }}"

					[(ngModel)]="qty[i]" (change)="onUpdate($event)"
					required />
					<label class="kina-pricing__item--quantity-label field-label">{{ item['name'] }}</label>
				</div>
			</article>

			<div class="kina-pricing__roof-mount field checkbox">
				<input type="checkbox" class="kina-pricing__roof-mount-input field-checkbox" [(ngModel)]="includeRoofMount" (change)="onUpdate()" />
				<label class="kina-pricing__roof-mount--label field-label">Include a roof mount</label>
			</div>
		</div>
		<footer class="kina-pricing__footer">
			<h2 class="kina-pricing__footer--pricing">{{pricing | currency:'USD':'symbol-narrow':'4.0-0'}}<sup>*</sup></h2>
			<h3 class="kina-pricing__footer--roi">*could potentially pays for itself in <strong>{{payoffProjects}}</strong> projects</h3>
		</footer>
	</div>
</section>