<div class="question form__field--row text" [class.error]="field.invalid && (field.dirty || field.touched)">
	<div class="question form__field--col form-col-{{question.style}}">
		<label for="{{question.key}}_answer" class="question__label form__field--label" [innerHTML]="question.label"></label>
		<div class="question__field form__field--input-container"
			[attr.data-prepend]="question.prepend ? question.prepend : null"
			[attr.data-append]="question.append ? question.append : null"
		>
			<input id="{{question.key}}_answer" name="{{question.key}}_answer" type="{{type}}" class="question__answer form__field--input"

				[attr.min]="question.validator && question.validator.min >= 0 ? question.validator.min : null"
				[attr.max]="question.validator && question.validator.max ? question.validator.max : null"
				[attr.step]="question.validator && question.validator.step ? question.validator.step : null"
				
				[(ngModel)]="answer" (blur)="onAnswer(field)"
				required #field="ngModel" />
		</div>
		<div *ngIf="field.invalid && (field.dirty || field.touched)" class="form__field--error">
			<p *ngIf="field.errors.required">* Required</p>
		</div>
	</div>
</div>
