<div class="kina-funnel" *ngIf="!finish">
	<header class="kina-funnel__header">
		<h1 class="kina-funnel__title" [innerHTML]="config.introduction"></h1>
		<h2 class="kina-funnel__subtitle" [innerHTML]="config.subIntroduction"></h2>
	</header>
	<div class="kina-funnel__form">
		<div class="kina-funnel__instructions">
			<p [innerHTML]="config.instructions"></p>
		</div>

		<div class="kina-funnel__customer">
			<customer-info key="prospect" [language]="language" [title]="config.customerInfo.title" [buttonText]="config.customerInfo.buttonText" [successText]="config.customerInfo.successText" (submitted)="onProspectSubmitted($event)"></customer-info>
		</div>

		<div class="kina-funnel__questions form__field--set" *ngIf="prospect">
			<div class="kina-funnel__question--group" *ngFor="let group of objectKeys(questionGroups)">
				<div class="kina-funnel__question" *ngFor="let question of questionGroups[group]">
					<question-selection *ngIf="question.type === 'selection'" [question]="question" (question-answered)="onQuestionAnswered($event)"></question-selection>
					<question-text *ngIf="question.type === 'text'" [question]="question" (question-answered)="onQuestionAnswered($event)"></question-text>
				</div>
			</div>
			<div class="kina-funnel__next" *ngIf="nextButton && !thankYou">
				<button class="kina-funnel__next--button" type="button" (click)="onNextClick()">{{nextButton}}</button>
			</div>
		</div>

		<div class="kina-funnel__thankyou" *ngIf="thankYou">
			<thank-you [thankYou]="thankYou" (submitted)="onSubmitted($event)"></thank-you>
		</div>
	</div>
</div>
<finished [finish]="finish" *ngIf="finish"></finished>
