<section class="video-ltd main-section" data-grid="1,0">
	<div class="video-ltd__content">
		<div class="content">
			<iframe class="video-ltd__youtube" src="https://www.youtube.com/embed/YerSSL7MQNA" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"></iframe>
		</div>
	</div>
</section>