/*
Theme Name: Khkplrv
Theme URI: http://themeforest.net/user/irstheme/
Author: irstheme
Author URI: http://themeforest.net/user/irstheme/portfolio
Description: Khkplrv -Construction, Building WordPress Theme
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: khkplrv
Tags: one-column, two-columns, left-sidebar, right-sidebar, custom-menu, featured-images, post-formats, theme-options, translation-ready
Adding support for languages written in a Right To Left (RTL) direction is easy -
it's just a matter of overwriting all the horizontal positioning attributes
of your CSS stylesheet in a separate stylesheet file named rtl.css.

https://codex.wordpress.org/Right-to-Left_Language_Support
*/


body { 
   direction: rtl; 
   unicode-bidi: embed; 
}
.section-title-s4 {
    text-align: right;
}
.recent-blog-section .entry-meta li{
    float: right;
}


.about-section .about-info ul i, .about-section-s2 .about-info ul i,
.service-single-section .service-single-content ul li:before {
    left: inherit;
    right: -45px;
}
.blog-sidebar .widget ul {
    padding-right: 0;
}

.widget_categories > ul > li a + span {
    right: inherit;
    top: 0;
    left: 0;
}


.theme-accordion-s1 .panel-heading a:before, .theme-accordion-s2 .panel-heading a:before {
    left: 45px;
    right: inherit;
}
.blog-pg-section .post .meta,
.blog-single-section .post .meta {
    padding: 0;
}

.blog-pg-section .post .meta li,
.blog-single-section .post .meta li {
    float: right;
    margin-right: 0;
}

.contact-page-section .contact-info-area {
    margin-right: 30px;
}
.header-style-1 .cart-search-contact form div button, .header-style-3 .cart-search-contact form div button {
    left: 15px;
}


@media screen and (min-width: 1200px){
    .about-section .about-text, .about-section-s2 .about-text {
        padding-right: 0;
    }
}

@media (min-width: 768px){
    .navbar-nav {
        float: right;
    }
}