/*------------------------------------------------------------------
[Theme Unit Default Style]
Theme Name: Itus
Version:        1.0.0
-------------------------------------------------------------------*/

/*Theme Unit CSS*/

a {
    color: #f6c606;
}

a:hover {
    color: #f6c606;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

img {
    max-width: 100%;
    height: auto;
}

span.text-logo a {
    color: #f6c606;
}

span.text-logo a:hover {
    color: #f6c606;
}


/*Table Design*/

table {
    width: 100%;
}

table th {
    background: #f6c606;
    color: #fff;
    transition: .3s;
    font-weight: 500;
}

table th:hover {
    background: #c49e05;
}

td,
th {
    border: 1px solid #ebebf1;
    padding: 10px;
    font-size: 15px;
    color: #838383;
}
table + h2 {
  padding-top: 20px;
}
ul + h2 {
  padding-top: 20px;
}
ol + h2 {
  padding-top: 20px;
}
th a,
th a:hover {
    color: #fff;
    font-size: 15px;
}

dd,
dt {
    line-height: 1.8em;
    font-size: 15px;
    color: #838383;
    padding: 5px 0;
}

dt {
    font-weight: 500;
}

address {
    line-height: 1.8em;
    font-size: 15px;
    color: #838383;
    background: #f8f8f8;
    padding: 20px;
}

code {
    line-height: 1.8em;
    font-size: 15px;
    color: #838383;
    background-color: #fad33552;
}

kbd {
    color: #838383;
    background-color: #fad33552;
}
strong {
    font-weight: 500;
}
pre {
    background: #f8f8f8;
    font-family: "Courier 10 Pitch", Courier, monospace;
    color: #838383;
}

ul {
    list-style: disc;
    padding-left: 40px;
}

.blog-sidebar ul {
    list-style: none;
    padding-left: 0px;
}

.sticky-badge h2 {
    width: 135px;
    height: 51px;
    line-height: 50px;
    text-align: center;
    background: rgba(246, 198, 6, 0.9);
    padding-left: 30px;
    color: #282e3f;
    font-size: 14px;
    display: inline-block;
    position: absolute;
    right: -24px;
    top: 42px;
    margin: 0;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    z-index: 50;
}

.sticky-badge:hover h2 {
    background: #f6c606;
}

.sticky-badge h2:before {
    position: absolute;
    left: -2px;
    top: -2px;
    border-top: 27px solid transparent;
    border-left: 35px solid #fff;
    border-bottom: 28px solid transparent;
    content: "";
    z-index: 9;
}

.sticky {
    border: 1px solid #f1f1f1;
    padding: 25px;
}

@media (max-width: 767px) {
    .sticky-badge h2 {
        width: 95px;
        height: 46px;
        line-height: 46px;
        right: -24px;
        top: 25px;
        padding-left: 20px;
    }

    .sticky-badge h2:before {
        position: absolute;
        left: -1px;
        top: 0px;
        border-top: 23px solid transparent;
        border-left: 19px solid #fff;
        border-bottom: 23px solid transparent;
        content: "";
        z-index: 9;
    }
}
@media (max-width: 1199px) {
   .calendar_wrap table#wp-calendar th,
   .calendar_wrap table#wp-calendar td {
        padding: 6px;
   }
}
/* Archive List */

.blog-sidebar .widget_archive ul li {
    font-size: 15px;
    font-size: 1rem;
    position: relative;
}

@media (max-width: 767px) {
    .blog-sidebar .widget_archive ul li {
        font-size: 15px;
        font-size: 1rem;
    }
}


.blog-sidebar .widget_archive ul>li+li {
    margin-top: 15px;
}

.blog-sidebar .widget_archive ul a {
    color: #727780;
}

.blog-sidebar .widget_archive ul a:hover,
.blog-sidebar .widget_archive ul li:hover:before {
    color: #f6c606;
}

select {
    height: 44px;
    width: 100%;
    border: 1px solid #e9e7e1;
    padding-left: 10px;
}


/* Calender */

.calendar_wrap table#wp-calendar tr,
.calendar_wrap table#wp-calendar td {
    border: 1px solid #e1dfd9;
}

.calendar_wrap table#wp-calendar th,
.calendar_wrap table#wp-calendar td {
    padding: 8px;
    text-align: center;
    font-weight: 400;
}


/*Categories List*/

.widget_categories ul ul {
    padding-left: 20px;
}

.widget_categories ul li a {
    width: 86%;
    padding: 4px 0;
}

.widget_categories ul li ul li {
    border-bottom: none;
}

.widget_categories ul li:last-child {
    border-bottom: none;
}

.widget_categories select {
    height: 40px;
    padding-left: 10px;
}

.widget_categories ul li a {
    position: relative;
    padding-left: 0px;
    font-size: 15px;
    font-size: 1rem;
    color: #727780;
}

@media (max-width: 991px) {
    .widget_categories ul li a {
        width: 86%;
    }
}

.widget_categories ul li a:hover {
    color: #f6c606;
}

@media (max-width: 767px) {
    .widget_categories ul li a {
        font-size: 15px;
        font-size: 1rem;
    }
}
.widget_categories ul > li + li {
    margin-top: 15px;
}
.widget_categories ul.children {
     margin-top: 15px;
}
.widget_categories ul li {
    position: relative;
     display: block;
}
.widget_categories > ul > li a + span {
   background: rgba(246, 198, 6, 0.3);
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 13px;
    font-size: 0.86667rem;
    text-align: center;
    color: #8b8b8b;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 0;
}
.widget_categories ul li ul li a + span {
    background: rgba(246, 198, 6, 0.3);
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 13px;
    font-size: 0.86667rem;
    text-align: center;
    color: #8b8b8b;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.widget_categories ul.children li a + span {
   top: 20%;
}
.widget_categories ul.children li li a + span {
   top: 20%;
}
.widget_categories ul li:first-child a + span {

}
/*Widget pages*/

.widget_pages ul ul {
    padding-left: 20px;
}

.widget_pages ul li a {
    display: inline-block;
    width: 90%;
    padding: 9px 0;
}

.widget_pages ul>li {
    border-bottom: 1px solid #f0f0f0;
}

.widget_pages ul li ul li {
    border-bottom: none;
    border-top: 1px solid #f0f0f0;
}

.widget_pages ul li:last-child {
    border-bottom: none;
}

.widget_pages ul li a {
    position: relative;
    font-size: 15px;
    font-size: 1rem;
    color: #666;
}

.widget_pages ul li a:hover {
    color: #f6c606;
}

.widget_pages ul li a:before {
    content: "-";
    position: absolute;
    left: -12px;
    top: 9px;
}

@media (max-width: 767px) {
    .widget_pages ul li a {
        font-size: 15px;
        font-size: 1rem;
    }
}


/*Sdebar Meta */

.widget_meta ul li {
    font-size: 15px;
    font-size: 1rem;
    padding-left: 15px;
    position: relative;
}

@media (max-width: 767px) {
    .widget_meta ul li {
        font-size: 15px;
        font-size: 1rem;
    }
}

.widget_meta ul li:before {
    content: "-";
    position: absolute;
    left: 0;
    top: 0;
}

.widget_meta ul>li+li {
    margin-top: 15px;
}

.widget_meta ul a {
    color: #666;
}

.widget_meta ul a:hover,
.widget_meta ul li:hover:before {
    color: #f6c606;
}


/*Recent Comments*/

.widget_recent_comments ul li {
    color: #666;
    list-style: none;
    border-radius: 60px;
    border-bottom-left-radius: 0;
    padding-top: 25px;
    margin-bottom: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    background: #f8f8f8;
    position: relative;
}

.widget_recent_comments ul li a {
    color: #666;
}

.widget_recent_comments ul li a:hover {
    color: #f6c606;
}


/* Recent Posts */

.widget_recent_entries ul li {
    font-size: 15px;
    font-size: 1rem;
    position: relative;
}

@media (max-width: 767px) {
    .widget_recent_entries ul li {
        font-size: 15px;
        font-size: 1rem;
    }
}

.widget_recent_entries ul>li+li {
    margin-top: 15px;
}

.widget_recent_entries ul a {
    color: #727780;
}

.widget_recent_entries ul a:hover,
.widget_recent_entries ul li:hover:before {
    color: #f6c606;
}


/* Widget Rss */

.widget_rss {}

.widget_rss ul li {
    font-size: 15px;
    font-size: 1rem;
    padding-left: 15px;
    position: relative;
    line-height: 28px;
    color: #666;
}

@media (max-width: 767px) {
    .widget_rss ul li {
        font-size: 15px;
        font-size: 1rem;
    }
}

.widget_rss ul li:before {
    content: "-";
    position: absolute;
    left: 0;
    top: 0;
}

.widget_rss ul>li+li {
    margin-top: 20px;
}

.widget_rss ul a {
    color: #666;
}

.widget_rss ul a:hover,
.widget_rss ul li:hover:before {
    color: #f6c606;
}


/*Text widget*/

.textwidget img {
    max-width: 100%;
    height: auto;
}

.widget_text ul li p {
    font-size: 15px;
    font-size: 1rem;
    position: relative;
    line-height: 28px;
    color: #666;
}

@media (max-width: 767px) {
    .widget_text ul li p {
        font-size: 15px;
        font-size: 1rem;
    }
}


/*Tag Cloud */

.widget_tag_cloud .tagcloud a {
    font-size: 14px !important;
    font-size: 0.93333rem !important;
    color: #727780;
    display: inline-block;
    border: 1px solid #e8e8e8;
    padding: 6px 15px;
    border-radius: 32px;
    margin: 0 3px 6px 0;
}

.widget_tag_cloud .tagcloud a:hover {
    background-color: #f6c606;
    border-color: #f6c606;
    color: #fff;
}

.tag-share .tag ul {
    padding-left: 0px;
}

/*Nav Menu*/

.widget_nav_menu ul ul {
    padding-left: 10px;
}

.widget_nav_menu ul li a {
    display: inline-block;
    width: 90%;
    padding: 9px 0;
}

.widget_nav_menu ul>li {
    border-bottom: 1px solid #f0f0f0;
}

.widget_nav_menu ul li ul li {
    border-bottom: none;
    border-top: 1px solid #f0f0f0;
}

.widget_nav_menu ul li:last-child {
    border-bottom: none;
}

.widget_nav_menu ul li a {
    font-size: 15px;
    font-size: 1rem;
    position: relative;
    padding-left: 20px;
    color: #666;
}

.widget_nav_menu ul li a:before {
    content: "-";
    position: absolute;
    left: 0;
    top: 9px;
}

.widget_nav_menu ul a:hover,
.widget_nav_menu ul li:hover:before {
    color: #f6c606;
}

@media (max-width: 767px) {
    .widget_nav_menu ul li a {
        font-size: 15px;
        font-size: 1rem;
    }
}


/*Post-pagination*/

.wp-pagenavi {
    padding-bottom: 0;
    padding-top: 25px;
    margin-top: 50px;
}

.wp-pagenavi a,
.wp-pagenavi span {
    text-decoration: none;
    border: 1px solid #d0c8b0;
    background: #d0c8b0;
    padding: 14px 18px;
    margin-right: 10px;
    margin-bottom: 0px;
    color: #fff;
    display: inline-block;
    margin-left: -1px;
    line-height: 1;
    font-weight: 600;
}

.wp-pagenavi a:hover,
.wp-pagenavi span.current {
    background: #b2a47c;
    color: #fff !important;
    border-color: #b2a47c;
}

.wp-pagenavi span.current {
    color: #fff !important;
}

ul.page-numbers {
    display: inline-block;
    overflow: hidden;
    list-style-type: none;
    text-align: center;
    padding-left: 0;
    margin-top: 60px;
}

ul.page-numbers li {
    float: left;
    margin-right: 10px;
}

ul.page-numbers li span.page-numbers.current {
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-size: 20px;
    font-size: 1.33333rem;
    border: 1px solid #f6c606;
    border-radius: 50%;
    display: block;
}

ul.page-numbers li a {
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-size: 20px;
    font-size: 1.33333rem;
    border: 1px solid transparent;
    color: #06163a;
    display: block;
    border-radius: 50%;
}

ul.page-numbers li a div {
    line-height: 45px;
}

/* Page paginations*/

.wp-link-pages a,
.wp-link-pages>span {
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid #f6c606;
    background: #f6c606;
    color: #fff;
}

.wp-link-pages>span,
.wp-link-pages a:hover {
    background: #c49e05;
    border: 1px solid #c49e05;
}

.wp-link-pages {
    margin-top: 35px;
}


/*password protected form*/

.post-password-form>p {
    padding-top: 10px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.post-password-form {
    position: relative;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
}

.post-password-form label {
    display: block;
    font-weight: 500;
}

.post-password-form input[type="password"] {
    width: 50%;
    height: 50px;
    padding: 10px 20px;
    margin-top: 15px;
    background-color: #ffffff;
    color: #888888;
    border: 1px solid #ececec;
    outline: none;
    border-radius: 0;
    box-shadow: none;
    transition: all 0.3s ease 0s;
    appearance: none;
}

.password-form p {
    position: relative;
}

.post-password-form input[type="submit"] {
    padding: 12px 29px;
    position: absolute;
    right: 100px;
    top: 25px;
    border: none;
    background: #f6c606;
    outline: none;
    transition: .3s;
    color: #fff;
}

@media (max-width: 767px) {
    .post-password-form input[type="submit"] {
        right: 0;
    }
}

.post-password-form input[type="submit"]:hover {
    background: #c49e05;;
}

.gallery-caption {
    color: #838383;
    line-height: 1.8em;
}


.blog-single-section p.form-submit {
    margin-bottom: 0;
}


/*Page Comment */

.page-wrapper p {
    font-size: 15px;
    font-size: 1rem;
    line-height: 1.7em;
    margin: 0 0 1.5em;
}

.page-wrapper ul li,
.page-wrapper ol li {
    font-size: 15px;
    color: #838383;
    line-height: 1.8em;
}

ol.comments #respond {
    padding: 0 20px;
}

.page-wraper .comments-area {
    margin-top: 70px;
}

.page-wraper .comments-area .comments {
    border: 1px solid #ebebf1;
}

.page-wraper .comments-area ol>li:last-child article {
    border-bottom: 0;
}

.page-wraper .comments-area li>div {
    border-bottom: 1px solid #ebebf1;
    padding: 35px 25px;
}

.page-wraper .comments-area ol {
    list-style-type: none;
    padding-left: 0;
}

.page-wraper .comments-area ol li {
    padding-left: 30px;
}

.page-wraper .comments-area .comments-title {
    font-size: 26px;
    font-size: 1.625rem;
    margin: 0 0 1.5em;
}

@media (max-width: 991px) {
    .page-wraper .comments-area .comments-title {
        font-size: 22px;
        font-size: 1.375rem;
    }
}

.page-wraper .comments-area li>div {
    position: relative;
}

.page-wraper .comments-area .comment-theme {
    position: absolute;
    left: 25px;
}

@media (max-width: 767px) {
    .page-wraper .comments-area .comment-theme {
        position: static;
    }
}

.page-wraper .comments-area .comment-theme img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.page-wraper .comments-area .comment-main-area {
    padding-left: 100px;
}

@media (max-width: 767px) {
    .page-wraper .comments-area .comment-main-area {
        padding-left: 0;
        margin-top: 25px;
    }
}

.page-wraper .comments-area .comment-main-area p {
    margin-bottom: 20px;
}

.page-wraper .comments-area .comments-meta h4 {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 18px;
    font-size: 1.125rem;
    color: #6d6d6d;
    font-weight: 500;
    margin: 0 0 1em;
    display: inline-block;
}

.page-wraper .comments-area .comments-meta span {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: normal;
    color: #949494;
    text-transform: none;
    display: inline-block;
    margin-left: 15px;
    font-size: 16px;
    font-size: 1rem;
}

@media (max-width: 991px) {
    .page-wraper .comments-area .comments-meta span {
        margin-left: 0;
    }
}

.page-wraper .comments-area .comments-meta span.caps {
    margin-left: 5px;
}

.page-wraper .comments-area .comment-reply-link {
    background: #f6c606;
    font-size: 14px;
    font-size: 0.875rem;
    color: #fff;
    display: inline-block;
    padding: 0 5px;
}

.page-wraper .comments-area .comment-reply-link:hover {
    background-color: #d0a704;
}

.page-wraper .comment-respond {
    margin-top: 70px;
}

.page-wraper .comment-respond .comment-reply-title {
    font-size: 26px;
    font-size: 1.625rem;
    margin: 0 0 1.5em;
}

@media (max-width: 991px) {
    .page-wraper .comment-respond .comment-reply-title {
        font-size: 22px;
        font-size: 1.375rem;
    }
}

.page-wraper .comment-respond form input,
.page-wraper .comment-respond form textarea {
    background-color: #f8f8f8;
    width: 100%;
    height: 50px;
    border: 1px solid #f8f8f8;
    padding: 6px 15px;
    margin-bottom: 15px;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}

.page-wraper .comment-respond form input:focus,
.page-wraper .comment-respond form textarea:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #c1b696;
}

@media (max-width: 991px) {

    .page-wraper .comment-respond form input,
    .page-wraper .comment-respond form textarea {
        height: 40px;
    }
}

.page-wraper .comment-respond form textarea {
    height: 220px;
    padding: 15px;
}

@media (max-width: 991px) {
    .page-wraper .comment-respond form textarea {
        height: 150px;
    }
}

.page-wraper .comment-respond .form-inputs {
    overflow: hidden;
}

.page-wraper .comment-respond .form-inputs>input:nth-child(2) {
    width: 49%;
    float: left;
}

@media (max-width: 767px) {
    .page-wraper .comment-respond .form-inputs>input:nth-child(2) {
        width: 100%;
        float: none;
    }
}

.page-wraper .comment-respond .form-inputs>input:nth-child(3) {
    width: 49%;
    float: right;
}

@media (max-width: 767px) {
    .page-wraper .comment-respond .form-inputs>input:nth-child(3) {
        width: 100%;
        float: none;
    }
}

.page-wraper .comment-respond .form-submit input {
    max-width: 180px;
    background-color: #f6c606;
    color: #fff;
    font-weight: 500;
    margin-bottom: 0;
    border: 0;
    outline: 0;
    text-transform: uppercase;
}

.page-wraper .comment-respond .form-submit input:hover {
    background-color: #d0a704;
}


.comment-area article {
    padding: 35px 25px;
    border-bottom: 1px solid #ebebf1;
    position: relative;
}

.blog-single-section .entry-details blockquote {
    background-color: #f8f8f8;
    border-left: 5px solid #f6c606;
    font-size: 20px;
}

blockquote {
    background-color: #f8f8f8;
    border-left: 5px solid #f6c606;
    font-size: 20px;
    padding: 35px;
}

.page-wrapper .blog-single-section blockquote p {
    font-size: 16px;
    margin-bottom: 0 !important;
    color: #545151;
}


.blog-single-section .entry-details ul li {
    font-size: 15px;
    color: #838383;
    line-height: 1.9em;
}

.blog-single-section .entry-details p {
    font-size: 17px;
    font-size: 1.13333rem;
    color: #838383;
    line-height: 1.6em;
}

.blog-single-section  .single-content-wrap  .entry-details p strong {
    color: #333;
}

.blog-single-section  .single-content-wrap  .entry-details pre {
    margin-bottom: 35px;
}
.blog-pg-section .blog-content > .post + .post {
  margin-top: 100px;
}

@media (max-width: 991px) {
    .admin-bar .site-header #navbar {
        top: 46px;
    }
}

.admin-bar .header-style-1 .sticky-header.sticky-on,
.admin-bar .header-style-2 .sticky-header.sticky-on,
.admin-bar .header-style-3 .sticky-header.sticky-on {
    top: 32px;
}

.blog-single-section .comment-content ol {
    list-style: decimal !important;
    padding-left: 40px;
}

.blog-single-section .comments-area .comment-theme {
    position: absolute;
    left: 25px;
}

@media (max-width: 767px) {
    .blog-single-section .comments-area .comment-theme {
        position: static;
    }
}

.blog-single-section .comments-area .pingback .comment-main-area {
    padding-left: 0px;
}

ol.comments #respond {
    padding: 0 20px 20px;
}

.page-wrapper ol.comments #respond {
    padding: 0 20px 8px;
}

.page-wraper .comments-area ol.comments>li {
    padding-left: 0;
}

.comments-area .rvrmrplo-nav-previous {
    padding-bottom: 20px;
}

@media (max-width: 991px) {
    .site-header #navbar .navbar-nav ul {
        padding-left: 0;
    }
}

@media (max-width: 767px) {

    .header-style-1 .topbar,
    .header-style-2 .topbar,
    .header-style-3 .topbar {
        padding-top: 0px;
    }

    .header-style-1 .topbar .contact-info,
    .header-style-2 .topbar .contact-info,
    .header-style-3 .topbar .contact-info {
        padding-top: 20px;
    }
}

.blog-single-section .comment-respond .form-submit input.submit {
    line-height: 0;
}
.blog-single-section .comment-respond .comment-form p a {
    color: #f6c606;
}
.blog-pg-section .post .meta li {
    font-size: 15px;
    font-size: 1rem;
}

.blog-single-section .post h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.blog-single-section .post h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.blog-single-section .post h2.post-title {
    margin: 0 0 1em;
    font-size: 32px;
}

.blog-single-section .post h3.post-title {
    margin: 1.8em 0 1em;
}

.blog-single-section .tag-share .tag ul li,
.blog-single-section .tag-share ul li {
    line-height: 59px;
}

@media (max-width: 767px) {
    .section-padding {
        padding: 80px 15px;
    }

    .section-padding .container.content-area {
        padding-left: 0px;
        padding-right: 0px;
    }

    .shop-section .blog-sidebar {
        padding-left: 0px;
    }
}

.padding-default.full-width {
    padding-top: 100px;
    padding-bottom: 80px;
}

.tagcloud a {
    font-size: 14px !important;
    color: #727780;
    display: inline-block;
    border: 1px solid #e8e8e8;
    padding: 6px 15px;
    border-radius: 32px;
    margin: 0 5px 5px 0;
}

.tagcloud a:hover {
    background-color: #cee002;
    border-color: #cee002;
    color: #fff;
}
.blog-single-section .comments-area .comment-content ul {
    list-style: disc;
}
/** WooCommerce CSS **/

.woocommerce div.product form.cart div.quantity {
    border: 1px solid #e6e6e6;
    margin-right: 10px;
    position: relative;
}

.woocommerce div.product form.cart div.quantity:before {
    position: absolute;
    right: 22px;
    top: 0;
    content: "";
    height: 100%;
    width: 1px;
    background: #e6e6e6;
}

.woocommerce div.product form.cart div.quantity:after {
    position: absolute;
    right: 0px;
    top: 50%;
    content: "";
    height: 1px;
    width: 22px;
    background: #e6e6e6;
}

.woocommerce-account .woocommerce form .form-row label.inline {
    margin-left: 20px;
    margin-top: 15px;
}
.mini-cart-item-des a.remove {
    position: absolute;
    right: 7px;
    top: 0;
    color: #8c0000;
}
.woocommerce .quantity .plus,
.woocommerce-page .quantity .plus {
    font-family: 'Glyphicons Halflings';
    content: "\e113";
    background: transparent;
    border: none;
    height: 50%;
    font-weight: normal;
    font-size: 9px;
    right: 0px;
    top: 0px;
    padding-top: 0px;
    position: absolute;
    outline: none;
}

.woocommerce .quantity .minus,
.woocommerce-page .quantity .minus {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    background: transparent;
    border: none;
    height: 50%;
    font-weight: normal;
    font-size: 9px;
    right: 0px;
    position: absolute;
    bottom: 0px;
    outline: none;
}
.woocommerce .cart_item .quantity .minus {
    bottom: 5px;
}
.woocommerce .quantity input.qty,
.woocommerce-page .quantity input.qty {
    width: 70px;
    height: 33px;
    font-weight: 400;
    border: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.woocommerce .quantity .plus:hover,
.woocommerce .quantity .minus:hover,
.woocommerce-page .quantity .plus:hover,
.woocommerce-page .quantity .minus:hover {
    background-color: #fff;
}

.woocommerce ul.products.columns-3 li.product,
.woocommerce-page ul.products.columns-3 li.product {
    width: calc(33.33% - 20px);
    float: left;
    margin: 0 10px 25px;
}

@media (max-width: 767px) {

    .woocommerce ul.products.columns-3 li.product,
    .woocommerce-page ul.products.columns-3 li.product {
        width: calc(50% - 20px);
    }
}

@media (max-width: 550px) {

    .woocommerce ul.products.columns-3 li.product,
    .woocommerce-page ul.products.columns-3 li.product {
        width: calc(100% - 0px);
        float: none;
        margin: auto;
    }
}

.woocommerce ul.products.columns-4 li.product,
.woocommerce-page ul.products.columns-4 li.product {
    width: calc(25% - 20px);
    float: left;
    margin: 0 10px 25px;
}

@media (max-width: 767px) {

    .woocommerce ul.products.columns-4 li.product,
    .woocommerce-page ul.products.columns-4 li.product {
        width: calc(50% - 20px);
    }
}

@media (max-width: 550px) {

    .woocommerce ul.products.columns-4 li.product,
    .woocommerce-page ul.products.columns-4 li.product {
        width: calc(100% - 0px);
        float: none;
        margin: auto;
    }
}

@media (max-width: 768px) {

    .woocommerce ul.products[class*=columns-] li.product:nth-child(2n),
    .woocommerce-page ul.products[class*=columns-] li.product:nth-child(2n) {
        float: left;
    }

    .woocommerce ul.products[class*=columns-] li.product,
    .woocommerce-page ul.products[class*=columns-] li.product {
        clear: none;
    }
}

.woocommerce ul.products li h2,
.woocommerce ul.products li.product .woocommerce-loop-product__title {
    font-size: 20px;
    font-size: 1.33333rem;
    font-weight: 400;
    line-height: 1.4em;
    margin: 0 0 0.3em;
    transition: .3s;
    margin-bottom: 0px;
    padding: 25px 0;
}

.woocommerce ul.products li.product .woocommerce-loop-product__title:hover {
    color: #f6c606;
}

.woocommerce ul.products li.product .price {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 20px;
    font-size: 1.33333rem;
    color: #f6c606;
    padding-bottom: 25px;
    margin-top: -10px;
    margin-bottom: 0;
}

.woocommerce ul.products li.product a.button {
    background-color: #f6c606;
    width: 50px;
    height: 50px;
    line-height: 28px;
    text-align: center;
    font-size: 20px;
    font-size: 1.33333rem;
    color: #fff;
    border-radius: 50%;
}

.woocommerce ul.products li.product a.button:before {
    margin-left: -3px;
}

.woocommerce ul.products li.product .price ins {
    text-decoration: none;
}

.woocommerce ul.products li.product:hover a.button {
    opacity: 1;
    visibility: visible;
    bottom: 130px;
}

.woocommerce ul.products li.product a.button {
    list-style: none;
    overflow: hidden;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.woocommerce .woocommerce-product-search input {
    background-color: #f3f3f3;
    height: 50px;
    padding: 6px 40px 6px 20px;
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.woocommerce .woocommerce-product-search input:focus {
    outline: none;
}

.woocommerce .woocommerce-product-search {
    position: relative;
    width: 100%;
    background: #f3f3f3;
}

.woocommerce .woocommerce-product-search button {
    background: transparent;
    font-size: 20px;
    font-size: 1.33333rem;
    color: #f6c606;
    border: 0;
    outline: 0;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 15px;
    top: 52%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.woocommerce .product-categories li a {
    color: #727780;
    padding: 4px 0px;
    display: block;
}

.woocommerce .product-categories li {
    position: relative;
}

.woocommerce .product-categories li span {
    position: absolute;
    right: 0;
    top: 5px;
}

.woocommerce .product-categories li a:hover {
    color: #f6c606;
}

.woocommerce ul.product_list_widget li img {
    width: 70px;
    float: left;
}

.woocommerce ul.product_list_widget li a {
    color: #727780;
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
}

.woocommerce ul.product_list_widget li a span,
.woocommerce ul.product_list_widget li del span.woocommerce-Price-amount {
    padding-left: 20px;
}

.woocommerce ul.product_list_widget li ins {
    text-decoration: none;
}

.woocommerce ul.product_list_widget li {
    margin-bottom: 15px;
}

.woocommerce ul.cart_list li .star-rating,
.woocommerce ul.product_list_widget li .star-rating {
    left: 20px;
    padding-bottom: 22px;
}

.woocommerce .star-rating span::before {
    color: #f6c606;
}

.woocommerce ul.products li.product .star-rating {
    margin: auto;
    padding-bottom: 19px;
}

.woocommerce nav.woocommerce-pagination ul,
.woocommerce nav.woocommerce-pagination ul li {
    border: none;
}

.woocommerce nav.woocommerce-pagination ul li {
    background: #fff;
    margin-right: 10px;
}

.woocommerce nav.woocommerce-pagination ul li span.current {
    line-height: 22px;
    border: 1px solid #0a172b;
    border-radius: 50%;
    background: #fff;
}

.woocommerce nav.woocommerce-pagination ul li a {
    line-height: 27px;
}

.woocommerce nav.woocommerce-pagination ul li a:hover {
    border: 1px solid #0a172b;
    border-radius: 50%;
    background: #fff;
}

.woocommerce span.onsale {
    display: none;
}

.woocommerce.single-product .woocommerce-Price-amount {
    font-size: 32px;
    color: #f6c606;
    margin: 7px 0 14px;
}

.woocommerce .mini-cart-item-price span  {
   font-size: 13px !important;
}

.woocommerce .mini-cart-action .mini-checkout-price .woocommerce-Price-amount {
     font-size: 18px !important;
}

.woocommerce div.product p.price del {
    color: black;
}

.woocommerce.single-product .related.products .woocommerce-Price-amount {
    font-size: 20px;
}

.woocommerce.single-product p.price ins span {
    font-size: 24px;
    font-size: 1.6rem;
    font-weight: normal;
    color: #a7abb1;
    text-decoration: line-through;
    display: inline-block;
    margin-left: 5px;
    text-decoration: none;
}

.woocommerce div.product p.price {
    padding-top: 12px;
    margin-bottom: 0px;
}

.woocommerce div.product form.cart .button {
    font-family: "Barlow Condensed", sans-serif;
    background-color: #f6c606;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    color: #fff;
    padding: 0 24px;
    border-radius: 50px;
    display: block;
    font-weight: 400;
    text-transform: uppercase;
    transition: .3s;
}

.woocommerce div.product form.cart .button:hover {
    background: #f6c606;
}

.woocommerce div.product form.cart {
    margin-top: 43px;
}

.woocommerce .product_meta span {
    display: block;
    padding-bottom: 15px;
}

.woocommerce .product_meta span a {
    color: #f6c606;
}

.woocommerce #reviews #comments h2.woocommerce-Reviews-title,
.woocommerce div.product .woocommerce-tabs .panel > h2 {
    font-size: 25px;
}

.woocommerce #review_form #respond form {
    margin-top: 25px;
}

.woocommerce #review_form #respond form textarea {
    height: 200px;
    border: 1px solid #dad9d9;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
    padding-left: 7px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
    border: none;
    background: transparent;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li::before {
    content: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
    border: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs::before {
    border: none;
    content: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li::after {
    content: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
    border: 1px solid #eaeaea;
    border-radius: 0px;
    padding: 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
    border: 1px solid #f6c606;
    border-radius: 0px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
    background: #f6c606;
    color: #fff;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
    font-size: 15px;
    font-size: 1rem;
    font-weight: 500;
    color: #727780;
    border: 0;
    border-radius: 0;
    margin: 0;
    display: block;
    padding: 10px 15px;
    text-transform: uppercase;
}

.woocommerce #content div.product .woocommerce-tabs,
.woocommerce div.product .woocommerce-tabs,
.woocommerce-page #content div.product .woocommerce-tabs,
.woocommerce-page div.product .woocommerce-tabs {
    clear: both;
    padding-top: 15px;
}

.woocommerce .related.products {
    padding-top: 50px;
}

.woocommerce .related h2 {
    padding-bottom: 35px;
    padding-left: 10px;
}

.woocommerce div.product .woocommerce-tabs .panel {
    margin: 0 0 2em;
    padding: 0;
    border: none;
    box-shadow: none;
}

.woocommerce .shop-details-section .thumbnails .owl-nav .owl-prev,
.woocommerce .shop-details-section .thumbnails .owl-nav .owl-next {
    background: #ffffff00 !important;
}

.woocommerce .shop-details-section .thumbnails .owl-nav .owl-prev {
    left: -34px;
    top: 36%;
}

.woocommerce .shop-details-section .thumbnails .owl-nav .owl-next {
    right: -34px;
    top: 36%;
}

@media (max-width: 991px) {
    .woocommerce .shop-details-section .thumbnails .owl-nav .owl-prev {
        left: -19px;
        top: 40%;
    }

    .woocommerce .shop-details-section .thumbnails .owl-nav .owl-next {
        right: -19px;
        top: 40%;
    }
}

@media (max-width: 991px) {
    .woocommerce .shop-details-section .thumbnails .owl-nav .owl-prev {
        left: -19px;
        top: 30%;
    }

    .woocommerce .shop-details-section .thumbnails .owl-nav .owl-next {
        right: -19px;
        top: 30%;
    }
}

.woocommerce .shop-details-section .thumbnails .owl-nav .owl-prev i,
.woocommerce .shop-details-section .thumbnails .owl-nav .owl-next i {
    color: #333;
}

.woocommerce .shop-details-section .thumbnails .owl-nav .owl-prev i.fa.fa-angle-left:before {
    content: "\e629";
    font-family: 'themify';
}

.woocommerce .shop-details-section .thumbnails .owl-nav .owl-next i.fa.fa-angle-right:before {
    content: "\e628";
    font-family: 'themify';
}

.woocommerce .shop-details-section .wpgs-nav .slick-prev::before {
     content: "\e629";
    font-family: 'themify';
}

.woocommerce .shop-details-section .wpgs-nav .slick-next::before {
    content: "\e628";
    font-family: 'themify';
}

.woocommerce .shop-details-section .wpgs-for .slick-arrow {
    display: none !important;
}

.woocommerce .shop-details-section .wpgs-nav .slick-prev {
    margin-left: -10px;
}

.woocommerce .shop-details-section .wpgs-nav .slick-next {
    right: -25px;
}

.shop-details-section {
    padding-bottom: 60px;
}

@media (max-width: 767px) {
    .shop-details-section {
        padding-bottom: 40px;
    }
}

.woocommerce #review_form #respond .form-submit input {
    font-family: "Barlow Condensed", sans-serif;
    background-color: #f6c606;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    color: #fff;
    padding: 0 24px;
    border-radius: 50px;
    display: block;
    font-weight: 400;
    text-transform: uppercase;
    transition: .3s;
}

.woocommerce #review_form #respond .form-submit input {
    background: #f6c606;
}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
    text-align: center;
    -webkit-box-shadow: 0px 8px 48.38px 10.62px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 8px 48.38px 10.62px rgba(0, 0, 0, 0.06);
}

.woocommerce-message {
    border: 1px solid #eee;
    background: #fff;
    line-height: 40px;
}

.woocommerce-message::before {
    color: #f6c606;
}

.woocommerce .woocommerce-message .button {
    font-family: "Barlow Condensed", sans-serif;
    background-color: #f6c606;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    color: #fff;
    padding: 0 24px;
    border-radius: 50px;
    display: block;
    font-weight: 400;
    text-transform: uppercase;
    transition: .3s;
}

.woocommerce .woocommerce-message .button:hover {
    background: #f6c606;
    color: #fff;
}

/** Cart Page **/

.woocommerce .woocommerce-cart-form table.shop_table {
    border: none;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, .08);
    padding: 25px;
}

.woocommerce table.shop_table th {
    background: #fff;
    color: #333;
    border: none;
    border-bottom: 1px solid #ededed;
    font-weight: 500;
}

.woocommerce .woocommerce-checkout-review-order table.shop_table th {
    background: #fdfdfd;
    font-weight: 500;
}

.woocommerce table.shop_table tr {
    border-bottom: 1px solid #ededed;
}

.woocommerce table.shop_table tr td {
    border: none;
    border-bottom: 1px solid #eee;
}

.woocommerce table.shop_table tr td a {
    color: #838383;
}

.woocommerce.woocommerce-cart table.shop_table .product-thumbnail img,
.woocommerce-cart table.cart img {
    width: 80px;
}

.woocommerce a.remove {
    font-weight: 400;
}

.woocommerce .quantity,
.woocommerce-page .quantity {
    border: 1px solid #eee;
    position: relative;
    display: inline-block;
}

.woocommerce .cart .button,
.woocommerce .cart input.button {
    font-family: "Barlow Condensed", sans-serif;
    background-color: #f6c606;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    color: #fff;
    padding: 0 24px;
    border-radius: 50px;
    font-weight: 400;
    text-transform: uppercase;
    transition: .3s;
}

.woocommerce .cart .button:hover,
.woocommerce .cart input.button:hover {
    background: #f6c606;
    color: #fff;
}

.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled] {
    padding-top: 0px;
    color: #fff;
}

.woocommerce-page table.cart td.actions {
    padding: 15px 0px;
}

.woocommerce-cart table.cart td.actions .coupon .input-text {
    padding: 6px 20px;
    border: 1px solid #eee;
    width: 150px;
}

.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, .08);
    padding: 25px;
}

.woocommerce .cart-collaterals .cart_totals h2 {
    padding-left: 10px;
}

.woocommerce .cart-collaterals table.shop_table {
    border: none;
}

.woocommerce .cart-collaterals table.shop_table tr {
    border: none;
}

.woocommerce-cart .cart-collaterals .cart_totals tr th {
    border-bottom: 1px solid #eee;
    border-top: none;
    font-weight: 500;
}

.woocommerce-cart .cart-collaterals .cart_totals tr td {
    border-bottom: 1px solid #eee;
    border-top: none;
    padding: 13px 0;
}

.cart_totals .woocommerce-shipping-calculator p {
    margin-bottom: 0px;
}

.woocommerce a.button.alt,
.woocommerce .return-to-shop a {
    font-family: "Barlow Condensed", sans-serif;
    background-color: #f6c606;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    color: #fff;
    padding: 0 24px;
    border-radius: 50px;
    font-weight: 400;
    text-transform: uppercase;
    transition: .3s;
    display: inline-block;
}

.woocommerce a.button.alt:hover,
.woocommerce .return-to-shop a:hover {
    background: #f6c606;
    color: #fff;
}

.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
    float: left;
    width: 100%;
}

.woocommerce #respond input#submit.loading,
.woocommerce a.button.loading,
.woocommerce button.button.loading,
.woocommerce input.button.loading {
    font-size: 5px;
    padding-right: 15px;
}

.woocommerce #respond input#submit.added::after,
.woocommerce a.button.added::after,
.woocommerce button.button.added::after,
.woocommerce input.button.added::after {
    font-size: 7px;
}

.woocommerce a.button.loading::before,
.woocommerce button.button.loading::before,
.woocommerce input.button.loading::before {
    content: none;
}

.woocommerce #respond input#submit.loading::after,
.woocommerce a.button.loading::after,
.woocommerce button.button.loading::after,
.woocommerce input.button.loading::after {
    right: 15px;
}

.woocommerce ul.products li.product a.added_to_cart.wc-forward {
    padding-top: 0px;
}

/* Check Out */

.woocommerce-checkout .woocommerce-info {
    padding: 16px 20px;
    border: 1px solid #eeeeee;
    margin-bottom: 28px;
    border-radius: 2px;
    font-size: 15px;
    letter-spacing: .3px;
    background: #fff;
}

.woocommerce-billing-fields,
.woocommerce-shipping-fields {
    width: 100%;
}

.woocommerce-billing-fields h3 {
    font-size: 24px;
}

.woocommerce-additional-fields h3 {
    font-size: 24px;
}

.woocommerce .woocommerce-info::before {
    color: #1e85be;
    display: none;
}

.woocommerce .woocommerce-checkout #customer_details {
    width: 58.333333%;
    float: left;
}

.woocommerce-checkout-review-order {
    width: 41.666667%;
    float: right;
    background: #fdfdfd;
    padding: 25px;
}

.woocommerce .woocommerce-checkout #customer_details .col-1 {
    margin-bottom: 50px;
    max-width: 100%;
    width: 100%;
    float: none;
    display: flex;
    padding-left: 0px;
    padding-right: 50px;
}

.woocommerce .woocommerce-checkout #customer_details .col-2 {
    max-width: 100%;
    width: 100%;
    float: none;
    display: flex;
    margin-left: 0px;
    flex-wrap: wrap;
    padding-right: 50px;
}

label.woocommerce-form__label.woocommerce-form__label-for-checkbox.checkbox input {
    width: auto;
}

.woocommerce .woocommerce-checkout input {
    background: #f9f9f9 !important;
    border: 1px solid #eee;
    padding: 12px 16px;
    font-size: 14px;
    background: none;
    width: 100%;
    transition: all .5s;
    color: #999;
    border-radius: 0;
}
.woocommerce .woocommerce-checkout .woocommerce-additional-fields textarea {
    background: #f9f9f9 !important;
}

.woocommerce .woocommerce-checkout input:focus {
    border-color: #f6c606;
}
.woocommerce .select2-container--default .select2-selection--single {
    background: #f9f9f9 !important;
     border: 1px solid #eee !important;
     border-radius: 0;
}

.woocommerce .select2-container--default .select2-selection--single {
    display: block;
    height: auto;
    min-height: 50px;
    padding-top: 10px;
    padding-left: 10px;
    border: 1px solid #ececec;
}

.woocommerce .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 12px;
}

.woocommerce .woocommerce-billing-fields__field-wrapper p {
    margin-bottom: 20px;
}

.woocommerce .woocommerce-additional-fields {
    width: 100%;
}

.woocommerce .woocommerce-checkout .woocommerce-additional-fields textarea {
    height: 120px;
    border: 1px solid #eee;
    padding: 15px;
}

/* Your Oder */
.woocommerce-checkout form.woocommerce-checkout .els-order-review {
    background: #fdfdfd;
    border: 1px solid #f1f1f1;
    border-radius: 2px;
    padding: 48px 36px;
}

.woocommerce .woocommerce-checkout-review-order-table th,
.woocommerce .woocommerce-checkout-review-order-table td {
    border: none;
    padding-bottom: 18px !important;
    border-bottom: 1px dotted #d0d0d0;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.woocommerce .woocommerce-checkout-review-order-table th {
    padding-top: 0 !important;
}

.woocommerce table.shop_table {
    border: none;
}

.woocommerce .woocommerce-checkout-review-order-table th,
.woocommerce .woocommerce-checkout-review-order-table td {
    border: none;
    padding-bottom: 18px !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.woocommerce .woocommerce-checkout-review-order-table td {
    letter-spacing: .3px;
    color: #777777;
    padding-top: 21px;
}

.woocommerce table.shop_table td {
    padding-top: 15px;
}

.woocommerce table.shop_table strong {
    color: #777777;
}

.woocommerce table.shop_table tr.cart-subtotal th {
    padding-top: 15px !important;
}

.woocommerce .woocommerce-checkout-review-order-table th:nth-child(2),
.woocommerce .woocommerce-checkout-review-order-table td:nth-child(2) {
    text-align: right;
}

.woocommerce h5.order_review_heading {
    padding-bottom: 25px;
}

.woocommerce-checkout .woocommerce-checkout-payment {
    padding-top: 40px;
}

.woocommerce-checkout #payment {
    background: #FDFDFD;
    border-radius: 5px;
}

.woocommerce-checkout .woocommerce-checkout-payment li label {
    display: block;
    color: #727780;
    font-weight: 500;
}

.woocommerce-checkout-payment li.wc_payment_method {
    position: relative;
    padding-left: 25px;
}

.woocommerce-checkout-payment li.wc_payment_method label {
    margin-bottom: 0 !important;
}

.woocommerce-checkout-payment input.input-radio {
    width: auto;
    position: absolute;
    left: 0;
    top: 7px;
    margin-right: 0 !important;
}

.woocommerce-checkout-payment li.payment_method_paypal input.input-radio {
    top: 17px;
}

.woocommerce #payment #place_order,
.woocommerce-page #payment #place_order {
    font-family: "Barlow Condensed", sans-serif;
    background-color: #f6c606;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    color: #fff;
    padding: 0 24px;
    border-radius: 50px;
    font-weight: 400;
    text-transform: uppercase;
    transition: .3s;
}

.woocommerce #payment #place_order:hover {
    background: #f6c606;
}

h5#order_review_heading {
    margin-bottom: 35px;
}

.woocommerce-checkout-review-order-table th {
    background: #FDFDFD;
}

.woocommerce .woocommerce-grouped-product-list-item__label label {
    font-weight: normal;
    margin-top: 5px;
}

/*Process to check out */
table.woocommerce-table.woocommerce-table--order-details.shop_table.order_details {
    border: 1px solid #eee;
    padding: 25px;
}

table.woocommerce-table.woocommerce-table--order-details.shop_table.order_details th {
    border-bottom: none;
    padding-left: 15px;
}

table.woocommerce-table.woocommerce-table--order-details.shop_table.order_details tr {
    border-bottom: none;
}

table.woocommerce-table.woocommerce-table--order-details.shop_table.order_details td {
    border-bottom: none;
    border-color: #eee;
}

h2.woocommerce-column__title {
    font-size: 25px;
}

h2.woocommerce-order-details__title {
    font-size: 25px;
    padding-bottom: 25px;
}

.woocommerce .woocommerce-customer-details address {
    padding: 15px 15px;
    border-bottom-width: 1px;
    border-right-width: 1px;
}

.woocommerce form .form-row label {
    line-height: 2;
    font-weight: normal;
    color: #6d6d6d;
}

.woocommerce-checkout .checkout .col-2 h3#ship-to-different-address {
    padding-left: 25px;
}

.woocommerce table.shop_table tfoot th {
    border-top: none;
}

.woocommerce table.shop_table tfoot td {
    font-weight: 500;
}

#add_payment_method #payment div.payment_box,
.woocommerce-cart #payment div.payment_box,
.woocommerce-checkout #payment div.payment_box {
    background: #f3f3f3;
}

.woocommerce ul.order_details {
    padding-left: 0px;
}

.woocommerce a.remove {
    color: #f6c606 !important;
}

.woocommerce a.remove:hover {
    background: #f6c606;
}

.woocommerce .woocommerce-grouped-product-list .woocommerce-Price-amount.amount {
    font-size: 20px;
}

.woocommerce .woocommerce-grouped-product-list.group_table {
    margin-bottom: 25px;
}

.woocommerce div.product form.cart .variations select {
    width: auto !important;
    min-width: auto !important;
}

.woocommerce div.product form.cart .variations label {
    color: #06163a;
    font-size: 15px;
    padding-top: 12px;
}

.page-wrapper .woocommerce-product-details__short-description p {
    padding-top: 20px;
    margin:0px;
}

.woocommerce .woocommerce-result-count {
    padding-left: 12px;
}

.shop-section.section-padding {
    padding-bottom: 70px;
}

.woocommerce-terms-and-conditions-wrapper .woocommerce-form__label.woocommerce-form__label-for-checkbox {
    position: relative;
    padding-left: 25px;

}

.woocommerce-terms-and-conditions-wrapper .woocommerce-form__input.woocommerce-form__input-checkbox.input-checkbox {
    position: absolute;
    left: 0;
    top: 5px;
}

.woocommerce .shipping-calculator-form p .button,
.checkout_coupon .form-row-last .button {
    font-family: "Barlow Condensed", sans-serif;
    background-color: #f6c606;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    color: #fff;
    padding: 0 24px;
    border-radius: 50px;
    font-weight: 400;
    text-transform: uppercase;
    transition: .3s;
    display: inline-block;
}
.woocommerce .shipping-calculator-form p input,
.woocommerce .checkout_coupon p input {
    padding-top: 10px;
    padding-left: 10px;
    border: 1px solid #ececec;
}
.woocommerce .woocommerce-error{
    border-color:#f6c606;
    background-color: #f9f9f9;
}
.woocommerce-error::before,
.woocommerce form .form-row .required {
   color:#f6c606;
}
.woocommerce .checkout_coupon p .button  {
    font-family: "Barlow Condensed", sans-serif;
    background-color: #f6c606;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    color: #fff;
    padding: 0 24px;
    border-radius: 50px;
    font-weight: 400;
    text-transform: uppercase;
    transition: .3s;
    display: inline-block;
}

.woocommerce ul.products li.product .price del {
    color: #ce9d00;
}

.woocommerce form.woocommerce-checkout {
    overflow: hidden;
    clear: both;
}

/*-------------------------------------------
 * shopping car style
 * -----------------------------------------*/
.no-products {
    padding: 25px 15px;
    display: block;
}

.added_to_cart.wc-forward {
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 25px;
    font-family: "Barlow Condensed", sans-serif;
    border: 1px solid #f6c606;
    border-radius: 24px;
    padding: 3px 20px 2px;
}

.added_to_cart.wc-forward:hover {
    background-color: #f6c606;
    color: white;
    text-decoration: none;
}
.woocommerce .shipping-calculator-form p .button {
    margin-top: 20px;
}

.woocommerce .woocommerce-Tabs-panel table td {
    padding: 15px;
}

.woocommerce .woocommerce-Tabs-panel table tbody > tr:nth-child(even) th {
    color: #838383;
}

.woocommerce ul.products li.product a img {
    margin: 0;
}

.woocommerce .shop-details-section .woocommerce-grouped-product-list.group_table label a {
    color: #4c4c4c;
}

.woocommerce .shop-details-section .woocommerce-Price-amount{
    font-size: 26px;
}

/*** WooCommerce End **/


.contact-section .contact-form .wpcf7-form-control.wpcf7-submit {
    font-family: "Barlow Condensed", sans-serif;
    background-color: #1e1f2c;
    height: 47px;
    line-height: 47px;
    font-size: 18px;
    color: #fff;
    padding: 0 30px;
    border-radius: 50px;
    display: inline-block;
    text-transform: uppercase;
    border: none;
}

.contact-section .contact-form .wpcf7-form-control.wpcf7-submit:hover {
    background-color: #f6c606;
    color: #fff;
}

.contact-form input[type=submit] {
    background-color: transparent;
    color: #0a172b;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 2px solid #f6c606;
    border-radius: 0;
    line-height: 45px;
    padding: 0 30px;
    transition: .3s;
}

.contact-form input[type=submit]:hover {
    background-color: #f6c606;
    color: #fff;
}

.theme-accordion-s1 .panel-heading a:before,
.theme-accordion-s2 .panel-heading a:before {
    font-family: "themify";
    content: "\e64b";
    font-size: 15px;
}

.theme-accordion-s1 .panel-heading a:before,
.theme-accordion-s2 .panel-heading a:before {
    font-family: "themify";
    content: "\e64b";
    font-size: 15px;
}

.error-404-section {
    padding-bottom: 100px;
    padding-top: 100px;
}



.site-logo img {
    max-width: 187px;
}


.comments-area .khkplrv-nav-previous {
    padding-bottom: 0px;
}

.blog-single-section .comment-respond {
    margin-top: 60px;
}

.blog-single-section .khkplrv-comment-navigation+ol.comments {
    margin: 30px 0 30px;
}

.blog-pg-section .post h3 {
    margin-top: -0.33em;
}

@media (max-width: 991px) {
    .blog-pg-section .entry-details p {
        font-size: 15px;
    }
}

.site-header .close-navbar .ti-close {
    position: relative;
    top: 0px;
}

.wp-link-pages+a {
    display: inline-block;
    margin-top: 35px;
}

.blog-pg-section .post .meta,
.blog-single-section .post .meta,
.blog-single-section .tag-share ul {
    padding-left: 0px;
}
.blog-sidebar .search-widget input {
    width: 100%;
}
.site-footer {
    padding-top: 0px;
    padding-bottom: 0px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
footer .site-footer:before {
    content: "" !important;
    background-color: rgba(18, 18, 18, 0.92);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
}

.lower-footer p {
    margin-bottom: 20px;
    color: #e0dfdf;
}

.blog-pg-section .post .meta {
    margin-bottom: 35px;
}

.blog-pg-section .format-quote {
  background-color: #fff;
  padding: 45px;
  border: 1px solid #eee;
}
.blog-pg-section .format-quote .entry-body {
    width:100%;
    margin-top: 0px;
    border: none;
    padding: 0px;
}
@media (max-width: 767px) {
  .blog-pg-section .format-quote {
    padding: 35px 25px;
  }
}

.blog-pg-section .format-quote .quote-icon {
    background-color: #f6c606;
    padding: 7px 10px;
    position: absolute;
    right: 0;
    top: 0;
    width:55px;
    height: 52px;
    text-align: center;
        z-index: 99;
}

.blog-pg-section .format-quote .quote-icon:before {
    content: "";
    border: 28px solid transparent;
    border-top: 25px solid #f6c606;
    position: absolute;
    left: 0;
    bottom: -100%;
    z-index: 99;
}

.blog-pg-section .format-quote .quote-icon i {
  font-size: 35px;
  font-size: 2.33333rem;
  color: #fff;
  line-height: 1;
}
.blog-pg-section .format-quote .quote-icon i:before {
    margin-left: 0px;
}
h2.khkplrv-screen-reader-text {
    font-size: 20px;
}
@media screen and (min-width: 992px) {
    .site-header #navbar > ul .sub-menu {
        padding-left: 0;
        list-style: none;
    }
    .site-header #navbar > ul .sub-menu.open-submenu {
        padding-left: 20px;
    }
}
.blog-pg-section .video-post .video-holder i:before {
    margin-left: 0;
}

@media (max-width: 991px) {
    .header-style-2 .topbar ul, .header-style-3 .topbar ul {
        padding-left: 0;
    }
}


@media screen and (min-width: 1200px) {

    .header-style-3 #navbar  {
        margin-right: 60px;
    }
    .header-style-2 #navbar.has-header-btn,
    .header-style-3 #navbar.has-header-btn {
        margin-right: 192px;
    }

    .header-style-3 #navbar.has-header-cart {
        margin-right: 95px;
    }

    .header-style-2 #navbar.has-header-cart.has-header-btn,
    .header-style-3 #navbar.has-header-cart.has-header-btn {
        margin-right: 245px;
    }
}

@media (max-width:1199px) and (min-width:992px) {
    .header-style-2 #navbar.has-header-cart.has-header-btn,
    .header-style-3 #navbar.has-header-cart.has-header-btn {
        margin-right: 225px;
    }

    .header-style-2 #navbar.has-header-btn,
    .header-style-3 #navbar.has-header-btn {
        margin-right: 185px;
    }

    .header-style-2 #navbar.has-header-cart,
    .header-style-3 #navbar.has-header-cart {
        padding-right: 90px;
    }

    .site-header #navbar > ul > li > a {
        padding: 40px 10px 42px;
    }

    .header-style-3 #navbar > ul > li > a {
        color: white;
    }

}

@media (max-width:1199px) and (min-width:992px) {

    .header-style-3 #navbar {
        margin-right: 50px;
    }
}

@media (max-width: 991px) {
    .site-header .navbar-header button {
        top: 25px;
    }
}

@media (max-width: 450px) {
    .header-style-1 .cart-search-contact .header-search-form-wrapper,
    .header-style-2 .cart-search-contact .header-search-form-wrapper,
    .header-style-3 .cart-search-contact .header-search-form-wrapper {
        display: block;
    }
    .header-style-1 .cart-search-contact>div+div,
    .header-style-2 .cart-search-contact>div+div,
    .header-style-3 .cart-search-contact>div+div {
        display: none;
    }
}
.gallery-item {
  padding-bottom: 15px;
}

.hero .social-links ul {
    padding-left: 0px;
}
.about-pg-section {
    padding-bottom: 0px;
}
.specialization .icon .fi:before,
.specialization-s2 .icon .fi:before {
    margin-left: 0px;
}
@media screen and (min-width: 992px) {
    .testimonials-section {
        padding: 0px;
    }
}
.contact-section {
    padding-bottom: 0px;
}
.contact-section .details ul,
.contact-pg-section .contact-info ul {
    padding-left: 0;
}
.contact-section .contact-form-area form input[type=submit] ,
.contact-pg-section .contact-form-area form input[type=submit] {
    font-family: "Barlow Condensed", sans-serif;
    height: 50px;
    line-height: 47px;
    font-size: 16px;
    font-size: 1.06667rem;
    color: #676767;
    font-weight: 500;
    padding: 0 28px;
    letter-spacing: 1px;
    border: 2px solid #f6c606;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 50px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}

.contact-section .contact-form-area form input[type=submit]:hover ,
.contact-pg-section .contact-form-area form input[type=submit]:hover {
    background-color: #f6c606;
    color: #fff;
}

.site-footer .about-widget p,
.site-footer .address-widget p,
.contact-widget  ul li {
    color: #fff;
}
.contact-widget  ul li {
    line-height: 21.4286px;
}
.blog-sidebar.service-sidebar .widget {
    padding: 0px;
    border: none;
}
.blog-sidebar.service-sidebar .widget + .widget {
    margin-top: 60px;
}
@media screen and (min-width: 1200px) {
    .service-single-section .service-single-content {
        padding-left: 10px;
    }
    .blog-sidebar.service-sidebar {
      padding-left: 16px;
    }
    .service-single-section .service-details-content {
      width: calc(100% - 70px);
      margin-left: 10px;
    }
}
.service-single-section .service-single-tab {
    margin-top: 50px;
}
.service-single-section .service-single-content h3 {
    margin: 1em 0 1em;
}

.service-single-section .service-single-content ul {
    padding-left: 0px;
    margin-bottom: 25px;
}
.service-single-section .service-single-content ul li {
    position: relative;
}
.service-single-section .service-single-tab .nav li:before {
    content: none;
}
.service-single-section  .theme-btn:hover {
    background-color: #f6c606;
    color: #fff;
}
.service-single-section  .theme-btn {
    background-color: #1e1f2c;
    color: #fff;
}
.service-single-section .service-single-content ul li:before {
    position: absolute;
    left:0;
    top: 0;
    content: "\e64d";
    font-family: 'themify';
    color: #f6c606;
}
.admin-bar .header-style-1 .navigation-holder.open-navigation-menu {
    margin-top: 32px;
}

.recent-blog-section .entry-meta {
    padding-left: 0px;
}
.recent-blog-section .entry-meta li {
    color: #8f9aa7;
}
.recent-blog-section .entry-meta li a {
    color: #8f9aa7;
}
.recent-blog-section .grid .details h3 a {
  line-height: 1.5em;
}
.recent-blog-section {
    padding-bottom: 0px;
}
.social-icons ul,
.site-footer ul {
    padding-left: 0px;
}
.social-icons ul li {
    float: left;
}
.social-icons ul > li + li {
    margin-left: 15px;
}
.menu-footer-menu-container ul li  {
    border: none;
}
.menu-footer-menu-container ul li a {
    color: #e0dfdf;
}
.menu-footer-menu-container ul li a:first-child {
    padding-top: 0px;
}
@media screen and (min-width: 1200px) {
    .footer-widget-area .widget_nav_menu {
        padding-left: 50px;
    }
}
.header-style-2 .topbar ul li i {
    padding-right: 2px;
}
.box-style .hero .slick-dots {
    right: 100px;
}
.fun-fact-section:before {
    content: none;
}
.fun-fact-section i:before {
    margin-left: 0px;
}

.shop-sidebar.blog-sidebar .widget > h3 {
    font-size: 18px;
}
.shop-sidebar .widget {
    padding-left: 20px;
}
.woocommerce ul.product_list_widget li a span {
    font-size: 14px;
    padding-left: 18px;
}
.woocommerce ul.product_list_widget li:last-child {
    margin-bottom: 0px;
}
@media (max-width: 1199px) {
    .recent-blog-section .entry-meta li {
        font-size: 13px;
        font-size: 0.86667rem;
    }
}
@media (max-width: 991px) {
    .footer-widget-area .row > div {
          margin-bottom: 60px;
    }
    .footer-widget-area .row > div:nth-child(3) {
          margin-bottom: 0px;
    }
    .footer-widget-area .row > div:nth-child(4) {
          margin-bottom: 0px;
    }
}
@media (max-width: 767px) {
    .footer-widget-area .row > div:nth-child(3) {
          margin-bottom: 60px;
    }
    .section-title,
    .section-title-s4 {
        padding-left: 15px;
    }
    .recent-blog-section .entry-meta > li + li {
        margin-left: 20px;
    }
    .services-section,
    .services-section-s2 {
        padding-bottom: 0px;
    }
}
.blog-sidebar .popular-post-widget .date {
    margin-bottom: 0px;
}
.site-header .cart-search-contact .mini-cart i:before {
    margin-left: 0px;
}
.blog-single-section .author-box .social-lnk {
    padding-left: 0;
}
.recent-blog-section .entry-meta li a + a {
   padding-left: 5px;
}
.header-style-1 .menu-info ul {
   padding-left:0px;
}
.header-style-1 .menu-info ul .fi:before {
	margin-left:0px;
}
.recent-blog-section .entry-meta li a {
	position:relative;
}
.recent-blog-section .entry-meta li:last-child i + a:before {
    position: absolute;
    right: -3px;
    top: -1px;
    content: ",";
}
@media screen and (min-width: 992px) {
    .header-style-2 .navigation .site-logo.has_menu .navbar-brand,
    .header-style-3 .navigation .site-logo.has_menu .navbar-brand {
        margin-top: 7px;
    }
    .header-style-2 .navigation .site-logo.dont_has_menu .navbar-brand,
    .header-style-3 .navigation .site-logo.dont_has_menu .navbar-brand {
        margin-top: 0px;
    }
}
.header-style-1 .contact-info ul,
.header-style-3 .contact-info ul,
.header-style-1 .social-links ul,
.header-style-3 .social-links ul {
    padding-left: 0px;
    list-style: none;
}
.hero-style-1 .slide-caption .slide-title h2,
.hero-style-2 .slide-caption .slide-title h2 {
    font-weight: 700;
}
.slick-slide {
    cursor: auto !important;
}
.slick-prev:before,
.slick-next:before {
    color: #fff;
}
.contact-info ul li {
    display: inline-block;
    padding-right: 5px;
}
.contact-info ul {
    padding-left: 0;
}
.social-links ul li {
    display: inline-block;
}
.social-links ul {
    padding-left: 0;
}
.header-style-2 .upper-topbar .contact-info ul li {
   color: #fff;
}
.page-title .breadcrumb li {
    line-height: 21px;
}
.cta-s2-section,
.about-section-s2 {
    padding: 0px;
}
.cta-s2-section:before {
    content: none;
}
.about-info ul {
    padding-left: 0px;
    list-style: none;
}
.about-section-s3 .icon .fi:before {
    margin-left: 0px;
}
.contact-page-section .contact-info ul > li + li {
    display: block;
}

.contact-section .contact-form form > div:nth-child(2) {
     width: calc(50% - 10px);
    float: left;
    margin-left: 0px;
}
.contact-section .contact-form form > div:nth-child(3) {
    width: calc(50% - 10px);
    float: left;
    margin-left: 20px;
    clear: none;
}
.contact-section .contact-form form > div:nth-child(4) {
    clear: both;
}

.team-section .team-grids .grid.grid-50 {
    width: calc(50% - 1px);
    float: left;
    margin: 0 1px 30px 0;
}
.team-section .team-grids .grid-33 {
    width: calc(33% - 1px);
    float: left;
    margin: 0 1px 30px 0;
}
@media (max-width: 500px) {
    .team-section .team-grids .grid.grid-50,
    .team-section .team-grids .grid-33  {
        width: calc(100% - 1px);
        float: none;
    }
}
.project-section-s2 .grids-filters ul {
    list-style: none;
    padding-left: 0px;
}
.project-section, .project-section-s2 {
    padding-bottom: 0px;
}
.project-single-slider .owl-controls .owl-nav i:before {
    margin-left: 0px;
}
.fun-fact-section {
    padding: 0px;
}
.page-wrapper .fun-fact-section p {
    font-size: 18px;
    font-size: 1.2rem;
    color: #bcbcbc;
    margin: 0;
}
.experience-section:before {
    content: none;
}
.services-section-s2,
.services-section {
    padding: 0px;
    background: transparent;
}
.services-section-s2 .fi:before {
    margin-left: 0px;
}
.services-section-s3 {
    background: transparent;
    padding: 0px;
}
.project-single-section .content ul {
    padding-left: 0px;
}
.newsletter-form {
    position: relative;
}
.footer-widget-area .social-links ul li a {
    color: #9e9e9e;
    padding-right: 15px;
}
.footer-widget-area .social-links ul li a:hover {
    color: #f6c606;
}
.footer-widget-area .social-links  {
    margin-top: 35px;
}
.header-style-2 .lower-topbar .contact-info .fi:before {
    margin-left: 0px;
}
.about-pg-history {
   border-top:none;
}
.service-sidebar .service-list-widget ul li.current-menu-item a {
    background-color: #f6c606;
    color: #fff;
}
.service-sidebar .widget .contact-widget {
    border: 2px solid #f6c606;
    padding: 45px 30px;
}
.header-style-1 .cart-search-contact .header-search-form-wrapper .fi:before,
.header-style-3 .cart-search-contact .header-search-form-wrapper .fi:before {
    margin-left: 0px;
}
@media (max-width: 500px) {
  .about-section-s3 .about-features .grid {
   text-align: center;
  }
  .about-section-s3 .grid .icon {
    margin:auto;
  }
}
@media screen and (min-width: 992px) {
  .header-style-3 .sticky-header #navbar > ul > li > a,
  .header-style-3 .cart-search-contact .fi  {
    color: #fff;
  }
}
.screen-reader-text {
    display: none;
}
@media (max-width: 767px) {
  .page-title h2 {
    font-size: 35px;
  }
}
.contact-page-section .contact-info-area .title h3 {
	margin-top: 0px;
}
@media (max-width: 767px) {
    .blog-sidebar {
         max-width: 100%;
    }
}

@media (max-width: 1199px) {
    .header-style-3 .navigation {
        background-color: #1e1f2c;
    }
}
