	/*
  	Flaticon icon font: Flaticon
  	Creation date: 25/10/2018 06:04
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-shop:before { content: "\f100"; }
.flaticon-shopping-bag:before { content: "\f101"; }
.flaticon-bag:before { content: "\f102"; }
.flaticon-buy:before { content: "\f103"; }
.flaticon-magnifying-glass:before { content: "\f104"; }
.flaticon-magnifying-glass-1:before { content: "\f105"; }
.flaticon-search:before { content: "\f106"; }
.flaticon-next:before { content: "\f107"; }
.flaticon-next-1:before { content: "\f108"; }
.flaticon-slim-right:before { content: "\f109"; }
.flaticon-back-1:before { content: "\f10a"; }
.flaticon-phone:before { content: "\f10b"; }
.flaticon-back:before { content: "\f10c"; }
.flaticon-slim-left:before { content: "\f10d"; }
.flaticon-help:before { content: "\f10e"; }
.flaticon-telephone:before { content: "\f10f"; }
.flaticon-smartphone:before { content: "\f110"; }
.flaticon-clock-1:before { content: "\f111"; }
.flaticon-time:before { content: "\f112"; }
.flaticon-watch:before { content: "\f113"; }
.flaticon-time-and-date:before { content: "\f114"; }
.flaticon-email:before { content: "\f115"; }
.flaticon-mail:before { content: "\f116"; }
.flaticon-mail-1:before { content: "\f117"; }
.flaticon-video-player:before { content: "\f118"; }
.flaticon-helmet:before { content: "\f119"; }
.flaticon-mine:before { content: "\f11a"; }
.flaticon-happy:before { content: "\f11b"; }
.flaticon-trophy:before { content: "\f11c"; }
.flaticon-like:before { content: "\f11d"; }
.flaticon-energy-saving:before { content: "\f11e"; }
.flaticon-maintenance:before { content: "\f11f"; }
.flaticon-mining:before { content: "\f120"; }
.flaticon-team:before { content: "\f121"; }
.flaticon-clock:before { content: "\f122"; }
.flaticon-alarm-clock:before { content: "\f123"; }
.flaticon-sketch:before { content: "\f124"; }
.flaticon-skyline:before { content: "\f125"; }
.flaticon-idea:before { content: "\f126"; }
.flaticon-house-sketch:before { content: "\f127"; }
.flaticon-brush:before { content: "\f128"; }
.flaticon-plumbing:before { content: "\f129"; }
.flaticon-tap:before { content: "\f12a"; }