<div class="kina-funnel__thankYou">
	<p class="kina-funnel__thankYou--body" [innerHTML]="thankYou.body"></p>
	<button class="kina-funnel__thankYou--button" (click)="onClick()">{{thankYou.buttonText}}</button>
</div>
