.main-footer {
	background: $color_secondary;
	color: $color_tertiary;
	text-align: center;
	padding: 3em;

	&__container {
		position: relative;
	}

	&__language {
		@include position(absolute, 50% 0 null null);
		@include _transform(translateY(-50%));

		.wpml-ls-statics-footer {
			@include box(0, 0);

			li {
				&:before {
					content: '';
				}
			}
		}

		.wpml-ls-link {
			color: $color-base;
			padding: 0;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}