.main-header {
	background: $color-base;
	position: relative;
	z-index: 10;
	
	@include grid-media($grid-tablet-landscape-up) {
		height: 3em;
	}

	&__container {
		box-shadow: -.5em -3em 5em hex-to-rgba($color-secondary, .2);
		border-left: 1px solid hex-to-rgba($color-tertiary, .2);
		background: $color-base;
		justify-content: space-between;
		display: flex;
		flex-flow: wrap;
	}

	&__brand {
		@extend .svg-logo-color;
		@include size(200px 63px);
		@include hide-text;
		display: block;

		@include grid-media($grid-mobile) {
			margin: 0 auto;
		}

		&--wrapper {
			padding: 1em 2em;

			@include grid-media($grid-mobile) {
				width: 100%;
			}
		}
	}

	&__social {
		display: flex;
		flex-flow: row nowrap;
		align-items: stretch;

		@include grid-media($grid-mobile) {
			justify-content: space-between;
			width: 100%;
		}

		&--item {
			@include size(63px);
			border-right: 1px solid hex-to-rgba($color-tertiary, .2);
			position: relative;
			padding: 1em;

			@include grid-media($grid-mobile) {
				&:last-child {
					border: 0;
				}
			}

			&-link {
				@extend %fa-icon;
				@extend .fab;

				@include size(2em);
				@include hide-text;
				@include position(absolute, 50% null null 50%);
				@include _transform(translate(-50%, -50%));
				color: $color-primary;
				text-decoration: none;
				text-align: center;
				line-height: 2em;
				font-size: 2em;

				&:before {
					text-indent: 0;
					display: block;
				}
			}

			&.facebook &-link {
				&:before {
					content: fa-content($fa-var-facebook-f);
				}
			}

			&.instagram &-link {
				&:before {
					content: fa-content($fa-var-instagram);
				}
			}

			&.twitter &-link {
				&:before {
					content: fa-content($fa-var-twitter);
				}
			}

			&.linkedin &-link {
				&:before {
					content: fa-content($fa-var-linkedin-in);
				}
			}
		}
	}
}