.kina-benefits {
	overflow: hidden;

	@include grid-media($grid-mobile) {
		background: $color-quaternary;
	}
	
	&__wrapper {
		box-shadow: -.5em 5em 5em hex-to-rgba($color-secondary, .2);
	}

	&__row {
		display: flex;
		justify-content: space-between;

		@include grid-media($grid-mobile) {
			flex-flow: wrap;
		}
	}

	&__col {
		padding: 2em 3em;
		border: 1px solid hex-to-rgba($color-tertiary, .2);
		border-width: 0 1px 0 0;
		text-align: center;

		@include grid-media($grid-mobile) {
			width: 80%;
		}

		@include grid-media($grid-tablet-portrait) {
			padding: 2em 1em;
		}

		&:first-child {
			border-width: 0 1px;
		}
	}

	&__title {
		color: $color-primary;
		position: relative;
		font-weight: 800;
		font-size: 1.6em;

		&:after {
			content: '';

			@include size(30% 4px);
			@include _transform(translateX(-50%));
			@include position(absolute, null null -.4em 50%);
			background: $color-secondary;
			display: block;
		}
	}
}