.kina-contact-divider {
	background-attachment: fixed;
	
	&__header {
		text-align: center;
		padding: 4em 0 0;
	}

	&__title {
		color: $color-base;
		font-size: 3em;
		margin: 0 0 1em;
	}

	&__content {
		width: 90%;
		margin: 0 auto;

		@include grid-media($grid-tablet-portrait-down) {
			padding: 0 0 2em;
		}

		@include grid-media($grid-tablet-landscape-up) {
			width: 80%;
		}
	}
}