.kina-contact-form {
	background: $color-quaternary;
	min-height: 500px;

	&__wrapper {
		padding: 4em 0;
		max-width: 650px;
		width: 90%;
	}
}

.kina-funnel {
	&__header {
		margin: 0 0 4em;
	}

	&__title {
		margin: 0;

		strong {
			color: $color-primary;
			font-weight: 900;
		}
	}

	&__subtitle {
		color: $color-primary;
	}

	&__thankYou {
		&--body {
			color: $color-accent;
			font-style: italic;
			font-weight: 600;
		}

		&--button {
			background: $color-primary;
			color: $color-base;
			padding: .5em 1em;
			font-weight: 600;
			border: 0;
		}
	}

	&__finished {
		text-align: center;

		&--title {
			font-weight: 900;
			color: $color-primary;
			margin: 0 0 1em;
		}
	}
}

.customer-info {
	&__success {
		@include upper;
		color: $color-primary;
		font-weight: 800;
		line-height: 1em;
		font-size: 2em;
	}
}
