.kina-hero {
	width: 100%;
	position: relative;

	&__header {
		@include position(absolute, 25% null null 5%);
		width: 90%;

		@include grid-media($grid-tablet-landscape-up) {
			width: 40%;
			left: 10%;
		}
	}

	&__title {
		color: $color-base;
		font-weight: 900;
		font-size: 2.4em;
		line-height: 1.4em;
		margin: 0;

		@include grid-media($grid-tablet-up) {
			font-size: 4.6em;
		}
	}

	&__subtitle {
		color: $color-secondary;
		margin: 0;
	}

	&__figure {
		margin: 0;
		overflow: hidden;
	}

	&__image {
		@include grid-media($grid-tablet-portrait-down) {
			float: right;
			width: 200%;
		}
	}
}

html[lang="es-ES"] {
	.kina-hero {
		&__header {
			@include grid-media($grid-tablet-landscape-up) {
				width: 60%;
			}
		}
		&__title {
			@include grid-media($grid-tablet-up) {
				font-size: 4em;
			}
		}
	}
}