.kina-funnel-results {
	&__wrapper {
		padding: 4em 0;
	}
	
	&__header {
		text-align: center;
		margin: 0 0 3em;
	}

	&__title {
		color: $color-secondary;
		margin: 0 0 .5em;
	}

	&__subtitle {
		font-weight: 400;
		text-transform: none;

		@include grid-media($grid-tablet-up) {
			width: 40%;
			margin: 0 auto;
		}
	}

	&__container {
		display: flex;
		justify-content: space-between;
		max-width: 660px;
		margin: 0 auto;
	}

	.result-set {
		width: 48%;
		padding: 0 2em;

		&--title {
			color: $color-primary;
		}
	}

	&__none {
		color: $color-tertiary;
		font-style: italic;
	}

	&__item {
		&--title {
			margin: 0;
		}
		&--body {
			strong {
				color: $color-accent;
				font-weight: 600;
			}
		}
	}
}