.kina-video-content {
	&__wrapper {
		padding: 4em 0;
		display: flex;
		justify-content: space-between;
		flex-flow: wrap;

		@include grid-media($grid-tablet-up) {
			padding: 6em 0;
		}
	}

	&__section {
		width: 100%;

		&.content {
			margin: 0 0 2em;
		}

		@include grid-media($grid-mobile) {
			&.content {
				padding: 0 5%;
			}
		}

		@include grid-media($grid-tablet-landscape-up) {
			width: 40%;

			&:first-child {
				width: 50%;
			}
		}
	}

	&__header {
		position: relative;
	}

	&__title {
		font-size: 3em;
	}

	&__subtitle {
		@include position(absolute, -1.5em null null 0);
		color: $color-primary;
		font-weight: 600;
	}

	&__video {
		@include aspect-ratio(16, 9);
		margin: 0 0 2em;
		width: 100%;

		.youtube {
			@include size(100%);
			@include position(absolute, 0 null null 0);
		}

		@include grid-media($grid-mobile) {
			&--header {
				padding: 0 5%;
			}
		}
	}

	&__description {
		@include grid-media($grid-mobile) {
			padding: 0 5%;
		}
	}
}