// // Search form
// .search-form {
//   @extend .form-inline;
// }
// .search-form label {
//   font-weight: normal;
//   @extend .form-group;
// }
// .search-form .search-field {
//   @extend .form-control;
// }
// .search-form .search-submit {
//   @extend .btn;
//   @extend .btn-secondary;
// }


.form {
	&__field {

		&--set {
			margin: 0 0 3em;
		}

		&--row {
			margin: 0 0 1.5em;
			display: flex;
			justify-content: space-between;
		}

		&--col {
			position: relative;
		}

		&--input {
			width: 100%;

			&-container {
				position: relative;

				&:before {
					@include position(absolute, 50% null null -.5em);
					@include _transform(translate(-100%, -50%));
				}

				&:after {
					@include position(absolute, 50% -.5em null null);
					@include _transform(translate(100%, -50%));
				}
			}
		}

		&--error {
			@include position(absolute, null 0 -1.8em null);
			color: $color-error;
			font-style: italic;
			font-size: .8em;

			p {
				margin: 0;
			}
		}
	}

	&-col {
		&-50 {
			width: 48%;
		}

		&-100 {
			width: 100%;
		}
	}
}

input[type="button"]:disabled,button:disabled,
button[disabled] {
	color: $color-tertiary; 
}