$grid-mobile: (
	columns: 1,
	gutter: 0,
	media: "(max-width: 767px)",
);

	$grid-mobile-x-small: (
		columns: 1,
		gutter: 0,
		media: "(max-width: 320px)",
	);

	$grid-mobile-small: (
		columns: 1,
		gutter: 0,
		media: "(max-width: 376px)",
	);

	$grid-mobile-large: (
		columns: 1,
		gutter: 0,
		media: "(min-width: 376px) and (max-width: 767px)",
	);

$grid-tablet: (
	columns: 8,
	gutter: 0,
	media: "(min-width: 768px) and (max-width: 1024px)",
);

	$grid-tablet-up: (
		columns: 8,
		gutter: 0,
		media: "(min-width: 768px)",
	);

	$grid-tablet-portrait: (
		columns: 8,
		gutter: 0,
		media: "(min-width: 768px) and (max-width: 959px)",
	);

	$grid-tablet-portrait-down: (
		columns: 8,
		gutter: 0,
		media: "(max-width: 959px)",
	);

	$grid-tablet-landscape: (
		columns: 8,
		gutter: 0,
		media: "(min-width: 960px) and (max-width: 1024px)",
	);

	$grid-tablet-landscape-up: (
		columns: 8,
		gutter: 0,
		media: "(min-width: 960px)",
	);

$grid-desktop-up: (
	columns: 12,
	gutter: 0,
	media: "(min-width: 1025px)",
);

	$grid-desktop-s: (
		columns: 12,
		gutter: 0,
		media: "(min-width: 1025px) and (max-width: 1219px)",
	);

	$grid-desktop-m-up: (
		columns: 12,
		gutter: 0,
		media: "(min-width: 1220px)",
	);

	$grid-desktop-l-up: (
		columns: 12,
		gutter: 0,
		media: "(min-width: 1440px)",
	);

	$grid-desktop-xl-up: (
		columns: 12,
		gutter: 0,
		media: "(min-width: 1920px)",
	);

	$grid-desktop-xxl-up: (
		columns: 12,
		gutter: 0,
		media: "(min-width: 2560px)",
	);
