@import "shared";

.kina-numbers-savings {
	&__content {
		width: 70%;
		margin: 0 auto;
		padding: 5% 0;
	}

	&__body {
		display: flex;
	}

	&__info {
		width: 30%;
	}

	&__charts {
		width: 70%;
		display: flex;
		justify-content: space-evenly;
		border-bottom: hex-to-rgba($kina-secondary, .9);

		.chart {
			width: 35%;
			position: relative;

			&-label {
				transform: translateY(-3em);
				text-align: center;
				position: absolute;
				top: 0; left: 0;
				width: 100%;
			}

			&-bar {
				background: #0F0;
				margin: 0 auto;
				height: 100%;
				width: 70%;

				&:before {
					content: '';
				}
			}
		}
	}


}