<section class="kina-numbers-savings main-section" data-grid="2,0">
	<div class="kina-numbers-savings__content">
		<header class="kina-numbers-savings__header">
			<h1 class="kina-numbers-savings__title">Savings</h1>
		</header>
		<div class="kina-numbers-savings__body">
			<aside class="kina-numbers-savings__info">
				<div class="kina-numbers-savings__info--field field text" *ngFor="let field of fields; let i = index">
					<label class="kina-numbers-savings__info--field--label field-label">{{ field['label'] }}</label>
					<input type="text" class="kina-numbers-savings__info--field--input field-input"
					 id="values{{i}}" min="{{ field['min'] }}" max="{{ field['max'] }}"

					[(ngModel)]="values[i]" (change)="onUpdate()"
					required />
				</div>
			</aside>
			<section class="kina-numbers-savings__charts">
				<div class="kina-numbers-savings__without-ltd chart">
					<p class="kina-numbers-savings__without-ltd--label chart-label">$1,000,000</p>
					<div class="kina-numbers-savings__without-ltd--bar chart-bar"></div>
				</div>

				<div class="kina-numbers-savings__with-ltd chart">
					<p class="kina-numbers-savings__with-ltd--label chart-label">$1,000,000</p>
					<div class="kina-numbers-savings__with-ltd--bar chart-bar"></div>
				</div>
			</section>
		</div>
		<footer class="kina-numbers-savings__footer">
			<h2 class="kina-numbers-savings__footer--savings">{{savings | currency:'USD':'symbol-narrow':'4.0-0'}}<sup>*</sup></h2>
		</footer>
	</div>
</section>