@mixin aspect-ratio($width, $height, $set-position: 'true') {
	@if $set-position == 'true' {
		position: relative;
	}
	
	&:before {
		display: block;
		content: "";
		width: 100%;
		padding-top: ($height / $width) * 100%;
	}

	> .content {
		@include top-left;
		@include size(100%);
	}
}

